body{
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    padding: 0px;
    height: auto;
    display:block;
    align-items: left;
    justify-content: left;
    font-size: 18px;
    background: url(/USER-DASHBOARD/assets/img/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.navigation {
    background-color: #007f67;
    background-size: contain;
    background-repeat: no-repeat;
    
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    color:rgb(227, 235, 235);
    box-shadow: 0px .5rem 1.5rem rgba(0, 0, 0, .5);
    width: 100%;
    height: 100px;
    white-space: nowrap;
    overflow-x: auto;
}

.toptext{
    display: flex;
    text-align: left;
    width: 100px;
    padding-left: 10px;
    padding-right: 1080px;
    margin: 0px 0px 0px 10px;
}

.fa-solid fa-bars {
    display:contents;
    width: 80px;
    height: 80px;
    float: right;
    padding-right: 10px;
    padding-left: 2000px;
}

.fa-solid ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    list-style: none;
    text-align: left;
}

.fa-solid ul li a{
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    text-align: left;
    width: 120px;

}

.dropdown{
    display: none;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}

.fa-solid:hover .dropdown{
    display: block;
    position:absolute;
    left: 1280px;
    background: rgb(157, 171, 167);
    border-radius: 3px;
    transition-delay: 4s;
    
}

.dropdown li:hover{
    background: #009579;
    border-radius: 3px;
}


#search{
    width: 1400px;
    height: 50px;
    margin: 20px 0px 0px 10px;
    box-shadow: 0px .5rem 1.5rem rgba(0, 0, 0, .5);
    border-radius: 25px;
    border-width: 0px;
    text-align: center;
    font-size: 24px;
}
#searchicon{
    width: 32px;
    height: 32px;
    margin: 28px 80px 0px 0px;
    float: right;
    cursor: pointer;
}

#searchicon:hover{
    filter: invert(100%);
}

  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 40px;
  }



