body{
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    padding: 0px;
    height: auto;
    display:block;
    align-items: left;
    justify-content: left;
    font-size: 18px;
    background: url(/USER-DASHBOARD/assets/img/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.navigation {
    background-color: #007f67;
    background-size: contain;
    background-repeat: no-repeat;
    
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    color:rgb(227, 235, 235);
    box-shadow: 0px .5rem 1.5rem rgba(0, 0, 0, .5);
    width: 100%;
    height: 100px;
    white-space: nowrap;
    overflow-x: auto;
}

.toptext{
    display: flex;
    text-align: left;
    width: 100px;
    padding-left: 10px;
    padding-right: 1080px;
    margin: 0px 0px 0px 10px;
}

.fa-solid fa-bars {
    display:contents;
    width: 80px;
    height: 80px;
    float: right;
    padding-right: 10px;
    padding-left: 2000px;
}

.fa-solid ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    list-style: none;
    text-align: left;
}

.fa-solid ul li a{
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    text-align: left;
    width: 120px;

}

.dropdown{
    display: none;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}

.fa-solid:hover .dropdown{
    display: block;
    position:absolute;
    left: 1280px;
    background: rgb(157, 171, 167);
    border-radius: 3px;
    
}

.dropdown li:hover{
    background: #009579;
    border-radius: 3px;
}

.question{
    margin-left: 450px;
    font-size: 72px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #007f67;
}

.container{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

input[type="radio"]{
    display: none;
}
label{
    position: relative;
    color: #007f67;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    border: 4px solid #007f67;
    border-radius: 5px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;     
}

label:before{
    
    content: "";
    height: 48px;
    width: 48px;
    border: 6px solid #007f67;
    border-radius: 50%;
    margin-right: 20px;
}
input[type="radio"]:checked + label{
    background-color: #007f67;
    color: white;
}
input[type="radio"]:checked + label::before{
    height: 16px;
    width: 16px;
    border: 20px solid white;
    background-color: #007f67;
} 